*{
	padding: 0: ;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;+}

@font-face {
font-family: "PaladinRus";  
src: url("../fonts/ofont.ru_PaladinRus.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal;
 }

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-color: #000;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

body{
	background-image: url('../img/page2/эпиграф.png');
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: contain;
}


div.text{

}

div.points{
	position: absolute;
	top: 2%;
	left: 65%;
	width: 18%;
	height: 13%;
	background-image: url('..//img/points.png');
	background-repeat: no-repeat;
	background-size: contain;

}
output.point{
	position: relative;
	top: 25%;
	left: 17%;
	font-family: PaladinRus;
	font-size: 40px;
	line-height: 40px;
	display: flex;
	align-items: center;
	color: #ECC28D;
	text-align: justify ;
}